apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: ejemplito
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /api/python(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: api-backend-service
            port:
              number: 8000

      - path: /api/java(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: api-backend-service
            port:
              number: 8080

      - path: /
        pathType: Prefix
        backend:
          service:
            name: front-service
            port:
              number: 80